
@section scripts
{
    <script src="~/Scripts/Home/MgActionScript.js"></script>
}

@{
    ViewBag.Title = "MgAction";
}

<h2>MgAction</h2>

<input type="button" onclick="ZapalMryganie();" value="jakas">
<input type="button" onclick="ZatrymajMryganie();" value="stop">

