<div id="navbar-left" class="col-xs-3">
    <div id="find-offer-row" class="row">
        <div id="find-offer-col" class="col-xs12">
            @{
                Html.RenderPartial("~/Areas/Mg/Views/Partials/FindOfferPartial.cshtml");
            }
        </div>
    </div>
</div>