<!--gora-->
<div id="navbar-top" class="container-fluid">
    <div id="navbar-top-logo-and-offers-row" class="row">
        <div id="logo-and-pair" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div id="logo-row" class="row">
                <div id="logo-col" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="http://p2.galapp.net/OP/0006/Web/aebf8e2b/Grafika/logo.png" class="img-responsive" />
                </div>
            </div>
            <div id="pair-row" class="row">
                <div id="pair-col" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="http://p2.galapp.net/OP/0006/Web/aebf8e2b/Grafika/para.png" class="img-responsive" />
                </div>
            </div>
        </div>

        <div id="offer-and-lang-bar" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div id="lang-row" class="row">
                <div id="date-col" class="col-md-9">
                    <p style="padding: 10px 30px; font-weight: bold;">Dzisiaj jest: @ViewBag.CurrentDate</p>

                </div>
                <div id="lang-col" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Wybierz język:
                    <span id="flags-span">
                        <img src="../../Areas/Mg/Content/pl.png" />
                        <img src="../../Areas/Mg/Content/de.png" />
                        <img src="../../Areas/Mg/Content/en.png" />
                    </span>
                </div>
            </div>

            <div id="offer-row" class="row">
                @*<div id="flat-col" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="http://p2.galapp.net/OP/0006/Web/aebf8e2b/Grafika/mieszkania-background.png" class="img-responsive thumbnail" />
                </div>
                <div id="house-col" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="http://p2.galapp.net/OP/0006/Web/aebf8e2b/Grafika/domy-background.png" class="img-responsive thumbnail" />
                </div>
                <div id="ground-col" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="http://p2.galapp.net/OP/0006/Web/aebf8e2b/Grafika/dzialki-background.png" class="img-responsive thumbnail" />
                </div>
                <div id="commercial-col" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="http://p2.galapp.net/OP/0006/Web/aebf8e2b/Grafika/komercyjne-background.png" class="img-responsive thumbnail" />
                </div>
                <div id="developer-col" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="http://p2.galapp.net/OP/0006/Web/aebf8e2b/Grafika/deweloperskie-background.png" class="img-responsive img-thumbnail" />
                </div>
                <div id="" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>*@
                @*<div id="developer-col" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="http://www.freshpalace.com/wp-content/uploads/2012/12/AR-House-La-Calera-Colombia-1.jpg" class="img-responsive" style="max-height: 255px; margin: auto;" />
                    </div>*@
              
                </div>
    </div>
    <!--menu gorne-->
    <div id="navbar-top-buttons-row" class="row">
        <div id="navbar-top-buttons" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul id="navbar-top-buttons-list">
                <li>O firmie</li>
                <li>Informacje</li>
                <li>Usługi</li>
                <li>Kalkulator</li>
                <li>Zgłoś</li>
                <li>Subskrypcja</li>
                <li>Notatnik</li>
                <li>Kontakt</li>
                <li>Mapa Strony</li>
            </ul>
        </div>
    </div>
    <!--sub menu-->

    <div id="navbar-top-sub-buttons-row" class="row">
        <div id="navbar-top-sub-buttons" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        </div>
    </div>

</div>
