<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>AZGWARANCJA Opole Nieruchomości, Sprzedaż, Wynajem, Mieszkania, Domy, Lokale</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/Areas/Soltys/Content/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="~/Areas/Soltys/Content/site.css" type="text/css" rel="stylesheet"/>
    <script src="~/Areas/Soltys/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
@*    <div class="row">*@
        <div class="col-md-2"></div>
        <div class="col-md-8">

            @Html.Partial("_MainMenuPartial")

            <div class="container body-content">

                <div class="row">

                    <div class="col-md-3">
                        @{ Html.RenderAction("GenerateSearchForm", "Search"); }
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - AZG by Soltys</p>
                </footer>
            </div>
        </div>
        <div class="col-md-2"></div>
@*    </div>*@
<script src="~/Areas/Soltys/Scripts/jquery-1.10.2.js"></script>
<script src="~/Areas/Soltys/Scripts/bootstrap.js"></script>
<script src="~/Areas/Soltys/Scripts/respond.js"></script>
<script src="~/Areas/Soltys/Scripts/CustomScripts/NavTabsBehavior.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>
