
@{
    Layout = null;

}
<!--  <div class="col-md-7 info-col">-->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Areas/Mg/Content/mg_main_style.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <!--content-->
    <div id="content-container-div" class="container-fluid">
        <!--content row-->
        <div id="content-row-div" class="row">
            <!--content col-->
            <div id="content-col-div" class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <!--gora-->
                @{
                    Html.RenderPartial("~/Areas/Mg/Views/Partials/LayoutTopPartial.cshtml");
                }
                <!--lewo i srodek -->
                <div id="navbar-left-and-content" class="container-fluid">
                    <div id="navbar-left-and-content-row" class="row">
                    <!--lewo menu-->
                        @{
                            Html.RenderPartial("~/Areas/Mg/Views/Partials/LayoutLeftMenuPartial.cshtml");
                        }
                        <div id="content" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <div id="content-beam-row" class="row">
                                <div id="content-beam-col" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <img src="http://www.azg.pl/img/right_beam_blue.png" id="content-beam-img" class="img-responsive"/>
                                </div>
                            </div>

                            <!--srodek-->
                            <div id="content-render-row" class="row">
                                <div id="content-render-col" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="rest-of-columuns" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        </div>

    </div>

</body>
</html>
