@model Toci.Web.Training.Primary.Models.Mg.MgReflectionModel
@{
    
    ViewBag.Title = "MgQueryStringAction";
}

<h2>MgQueryStringAction</h2>

<ul>
    <li>@Model.Number</li>
</ul>
<ul>
    <li>@Model.Name</li>
</ul>
<ul>
    <li>@Model.SurName</li>
</ul>
<ul>
    <li>@Model.Description</li>
</ul>