body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    font-family: Tahoma,Geneva,sans-serif;
}

#container {
  width: 1038px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}
