@{
    ViewBag.Title = "JavascriptEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>JavascriptEvents</h2>


<form method="GET" action="/home/javascriptEvents">
    
    <input id="id_tresc" type="text" name="tresc" value="cokolwiek"/>
    <input id="id_dupa" type="submit" name="dupa" value="wal"/>

</form>



