body,html { 

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #F9F9F9;
    font-family: Tahoma, Geneva, sans-serif;
}


#content-container-div {
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}
#content-col-div {
    padding: 0;
    height: 100%;
}

#content-row-div {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
}

#navbar-top {
        margin: 0;
    padding: 0;
    background: #fff;
}

#navbar-top-logo-and-offers-row {
    margin: 0;
    padding: 0;


}
#navbar-top-buttons-row {
    background: url('http://p2.galapp.net/OP/0006/Web/aebf8e2b/Grafika/main-menu-background.png');
    height: 50px;
    margin: 0;
    padding: 0;
}

#navbar-top-buttons-list {
    padding: 15px  0;

}
#navbar-top-buttons-list >li {
    color: white;
    display: inline;
    line-height: 18px;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;

}

#navbar-top-buttons-list >li:hover {
    color: #0C2548;
    background-color: #fff;
}

#logo-and-pair {
    padding: 0;
    z-index: 2;

}
#logo-col {
    /*background: url('http://p2.galapp.net/OP/0006/Web/aebf8e2b/Grafika/logo.png');
    height: 176px;
    width: 233px;
    margin: 15px;*/

 
}
#pair-col {
    /*background:url('http://p2.galapp.net/OP/0006/Web/aebf8e2b/Grafika/para.png');
    height: 146px;
    width: 272px;
    padding: inherit;*/
    margin-top: -12px;

   
}

#offer-and-lang-bar {
    padding: 0;
    margin: 0;

}
#lang-row {
    height: 41px;
    background-image: url('lang-bar-background.png');
    background-size:100% 150%;
    margin: 0;
    padding: 10px;
  
}

#offer-row  {
  
    background-color: #fff;
    margin-top: 5px;
    margin: 0;
    padding: 0;
    margin-top: 50px;

}

#lang-col {
    padding: 10px 0;
}
#flags-span {
    padding: 0 3px;
    float: right;
}

#navbar-left-and-content {
    height: 100%;
    background-color: #FFF;
    padding: 0;
}
#navbar-left-and-content-row {
    margin: 0;
    padding: 0;
}
#navbar-left {
    height: 100%;
    padding: 20px;
}
#date-col {
    padding: 0;
}
#content {
    height: 100%;
    padding: 0;
}
#content-render-col {
    padding: 15px 25px;
}

#offer-type-dd-list,#property-type-dd-list,#city-dd-list,#number-of-rooms-dd-list {
    width: 100%;
    margin: 5px 5px;
}

#find-offer-img {
    padding-bottom: 15px;
}

#content-beam-img {
    width: 100%;
}

#navbar-top-sub-buttons-row {
    background-color: #f9f9f9;
    min-height: 25px;
}
               
    #area-p {
        margin: 10px 5px;
    }
    #min-area,#max-area {
        position: absolute;
        right: 10px;
        margin: 5px;
        width: 30%;
    }                
/*#flat-col,#house-col,#ground-col,#ground-col,#commercial-col,#developer-col {


}*/