<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Areas/Hipek/Content/Style/styleAzg.css">
</head>
<body>
    <!--Header-->
    <!--Languages-->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Pl</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Eng</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Ger</a></li>
                </ul>
            </div>
        </div>
    </div>
<!--/Languages-->
    <!--Banners-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-9">

            </div>
        </div>
    </div>
    <!--/Header-->
    @RenderBody()
</body>
</html>
