@model Toci.Web.Training.Primary.Models.RobsonModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Robsons test....
<br />
string1 = @Model.getString1();
<br />
string2 = @Model.getString2();
<br />
string3 = @Model.getString3();
<br />
string4 = @Model.getString4();
<br />